# USER VARS
# Production command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
BACKEND_COMMAND=python manage.py runserver 0.0.0.0:8000
BACKEND_SERVICE_PORT=8000
BACKEND_CONTAINER_PORT=8000
BACKEND_CONTAINER_IP=10.10.0.3

# DJANGO VARS
DJANGO_SETTINGS_MODULE=config.settings
ALLOWED_HOSTS=localhost,127.0.0.1,10.10.0.3,[::1]
SECRET_KEY=django-insecure-3qt!#wgy6$4+-x%312#k7lm1!x^upv2-zks%duv9n!_$wawu+v
DEBUG=0
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# SUPERUSER SETTINGS
DJANGO_ADD_SUPERUSER=False
DJANGO_SUPERUSER_NAME=Admin
DJANGO_SUPERUSER_USERNAME=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=pass123#

# COLLECT STATIC SETTINGS
DJANGO_COLLECTSTATIC=False
DJANGO_MIGRATE=True

# DATABASE VARS
DATABASE=postgres
DB_ENGINE=django.db.backends.postgresql
DB_NAME=contas_db
DB_USER=contas_db_user
DB_PASSWORD=pass123#
DB_HOST=contas_db
DB_PORT=5432
DB_CONTAINER_PORT=5433
DB_CONTAINER_IP=10.10.0.2

# MAILPIT VARS
MAILPIT_PORT_1=8025
MAILPIT_PORT_1_CONTAINER=8025
MAILPIT_PORT_2=1025
MAILPIT_PORT_2_CONTAINER=1025
MAILPIT_CONTAINER_IP=10.10.0.4
MAILPIT_HOST=contas_mailpit
